body
{
background-color:#FFFAFA;
}
nav.h
{
position:relative;
top:-30px;
background-color:Gold; 
height:100px
}
p.h
{
color:#191970;;
font-size:200%;
position:relative;
top:+25px;
text-align:center;
font-family:fantasy;
}
a.b
{
position:relative;
top:+100px;
display: block;
width: 14em;
padding:50px;
border-top: 1px solid #333;
border-right: 1px solid #333;
border-left: 1px solid #333;
border-bottom: 1px solid #333;
text-decoration: none;
color: #333;
}
h1.m
{
position:relative;
top:-455px;
text-align:center;
}
div.m{
width:1200px;
}
p.m
{
position:relative;
top:-350px;
left:+400px;
word-wrap: break-word;
font-size:150%;
}
